= render 'shared/crud_title'

= render 'form', event: @event, participation: @participation

= link_to 'Show', event_participation_path(@event, @participation)
'|
= link_to 'Back', event_participations_path(@event)
