= render 'events/menu', event: @event

- breadcrumb :participations, @event

= image_tag @event.image_url, class: 'event-image'

.ui.segment
  = render 'form', event: @event, participation: @participation
