p#notice = notice

- if @participation
  p = @participation.user&.name
  p = @participation.event&.name

= link_to 'Edit', edit_participation_path(@participation)
'|
= link_to 'Back', participations_path
