div.ui.mini.buttons
  = link_to t('.edit'), edit_polymorphic_path(object), class: "ui button primary"
  div.or
  = link_to t('.delete'), polymorphic_path(object), method: :delete, class: "ui button negative"

