@import "variables";
@import "mixins";

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
  background-color: $knowit-complementary-gray-color-lightest-tint25;
}

a {
  color: $knowit-complementary-blue-color-light;

  &:hover {
    color: $knowit-complementary-blue-color;
  }
}

h1.title {
  font-size: 40px;
  font-weight: 300;
  border-bottom: 2px solid $knowit-black-color;
  padding-bottom: 0.5em;

  span.count {
    vertical-align: middle;
    margin-left: 1em;
    height: 2em;
    width: 2em;
    background-color: $knowit-primary-purple-color-lighter;
    font-size: 0.5em;
    color: $knowit-primary-purple-color;
    border-radius: 200rem;
    text-align: center;
    display: inline-block;
    span {
      display: inline-block;
      margin-top: -0.4em;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
}

.ui.segment {
  padding: 25px;
  background: $knowit-primary-green-color-lightest;
  border: 0px;

  form .actions {
    margin-top: 1em;
    padding-top: 1em;
  }

  // .ui.divider {
  //   border: 0px;
  //   border-top: 1px solid $knowit-primary-green-color-lighter;
  // }
}

.ui.menu {
  box-shadow: none;
}

.ui.error.message {
  font-weight: bold;
  border-width: 0px;
}

#main-row {
}

#top-menu.fixed {
  display: block;
}
#top-menu.fixed + #frontpage-info {
  padding-top: 125px;
}
#top-menu.fixed.submenu + .grid {

}
.ui.secondary.pointing.menu.fixed {
  z-index: 100;
  top:0;
 }
.ui.secondary.pointing.menu {
  top: -200px; //height of the div
  left: 0;
  z-index: 1;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  font-family: 'Raleway';
  border-bottom: 2px solid white;

  .item {
    padding: 1.5em 1.14285714em;
  }
  .item:first-child {
    margin-left: 10%;
  }
  a.item:hover {
    background-color: $knowit-primary-green-color-lightest;
  }
  a.item:hover {
  }
  a.item {
    font-size: 18px;
    color: $knowit-black-color;
    font-weight: bold;
  }
  a.simple-navigation-active-leaf {
    background: $knowit-primary-purple-color-lightest;
  }
}

#auxiliary-menu {
  text-align: right;
  margin-bottom: 50px;

  a {
    font-size: 18px;
    color: $knowit-black-color;
    margin-left: 15px;
    border-bottom: 1px solid $knowit-black-color;
  }
  a.simple-navigation-active-leaf {
    border-bottom: 4px solid $knowit-black-color;
  }
}

.button.knowit-purple {
  @include knowit-purple;
  color: white;
}
.button.knowit-green {
  @include knowit-green;
  color: white;
}

.button.knowit-purple:hover, .button.knowit-purple:focus {
  @include dark-knowit-purple;
  color: white;
}
.button.knowit-green:hover, .button.knowit-green:focus {
  @include dark-knowit-green;
  color: white;
}

.ui.page.grid {
  padding-top: 50px;
  padding-bottom: 100px;
}


footer {
  width: 100%;
  background-color: $knowit-primary-green-color-light;
  color: white;
  text-align: center;
  padding: 3em 0;

  a {
    color: $knowit-primary-green-color-lighter;
  }
  a:hover, a:focus {
    color: $knowit-primary-green-color-lighter;
    text-decoration: underline;
  }

  .ui.horizontal.divider.header {
    color: white;
  }
}

#image_files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.maybe {
  color: $knowit-primary-green-color-lighter;
}

.empty {
  text-align: center;
  color: $knowit-primary-green-color-lighter;
  font-style: italic;
  font-size: 2em;
  padding: 3em;
}

.breadcrumbs {
  font-size: 1.2em;
  a {
    color: $knowit-black-color;
    border-bottom: 1px solid $knowit-black-color;
  }
  i.fa {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
.ui.label.workshop {
  background-color: $knowit-primary-purple-color-lighter;
}

.ui.label.presentation {
  background-color: $knowit-complementary-blue-color-lighter;
}

.ui.label.knowit-purple {
  color: $knowit-primary-purple-color-lighter;
  background-color: $knowit-primary-purple-color;
}

.ui.label.knowit-blue {
  background-color: $knowit-complementary-blue-color-lighter;
}

.ui.label.session-accepted {
  background-color: $knowit-primary-green-color;
  color: $knowit-primary-green-color-lightest;
}

.ui.label.session-rejected {
  background-color: red;
  border-color: red;
  color: white;
}

.ui.label.session-proposed {
  background-color: $knowit-complementary-gray-color;
  color: $knowit-complementary-gray-color-lighter;
}

.ui.label.very.basic {
  background: transparent;
}

.crud-links {
  a.icon {
    height: 42px;
    width: 42px;
    padding: 12px;
  }
}

.ui.very.relaxed.items > .item {
  margin: 3.5em 0;
}

.full-width {
  width: 100%;
}

span.time {
  float: right;
}

#event-stats {
  background: $knowit-black-color;
  color: white;
  padding: 15px;
}

.ui.huge.horizontal.divider.header {
  line-height: 4;
  margin: 0;
  padding: 0;
}

.ui.segment.program-day {
  background: $knowit-primary-purple-color-lighter;
}