@import "variables";
@import "mixins";

body {
  background-color: $knowit-complementary-gray-color-lightest-tint50;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  font-family: 'Raleway';
}

h2 {
  margin: 0;
  padding: 0;
}

.ui.segment {
  background: $knowit-primary-green-color-lightest-tint50;
}

#top-menu.fixed + #frontpage-info {
  margin-top: 75px;
}
.ui.secondary.pointing.menu.fixed {
  top:0;
 }
.ui.secondary.pointing.menu {
  top: -200px; //height of the div
  left: 0;
  z-index: 1;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 3px solid $knowit-primary-green-color-lighter;
  background-color: white;
  font-family: 'Raleway';

  .item {
    padding: 1.5em 1.14285714em;
  }
  .item:first-child {
    margin-left: 10%;
  }
  a.item:hover {
    background-color: $knowit-primary-green-color-lighter;
  }
  a.item:hover {
    color: white;
  }
  a.item {
    color: $knowit-black-color;
  }
}

#auxiliary-menu {
  width: 100%;
  margin: 0;

  border-bottom: 2px solid $knowit-primary-green-color-lighter;
  background-color: $knowit-primary-green-color-lighter;

  .item {
    padding: 1em;
  }
  .item:first-child {
    margin-left: 10%;
  }
  .item:hover {
    background-color: $knowit-primary-green-color-lighter;
  }
  a.item:hover {
    color: white;
  }
  a.item {
    color: white;
  }
}

.button.knowit-purple {
  @include knowit-purple;
  color: white;
}
.button.knowit-green {
  @include knowit-green;
  color: white;
}

.button.knowit-purple:hover, .button.knowit-purple:focus {
  @include dark-knowit-purple;
  color: white;
}
.button.knowit-green:hover, .button.knowit-green:focus {
  @include dark-knowit-green;
  color: white;
}

.ui.page.grid {
  margin-top: 50px;
}


footer {
  width: 100%;
  background-color: $knowit-primary-green-color-light;
  color: white;
  text-align: center;
  padding: 3em 0;

  a {
    color: $knowit-primary-green-color-lighter;
  }
  a:hover, a:focus {
    color: $knowit-primary-green-color-lighter;
    text-decoration: underline;
  }

  .ui.horizontal.divider.header {
    color: white;
  }

}

#image_files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
