.events {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .event-card {
    margin: 16px 0 !important;
    flex: 0 0 32%;

    img {
      height: 300px !important;
    }
  }
}

.event-image {
  max-width: 100%;
  max-height: 200px;
}

.new_event_session.ui.form {
  .inline.fields > label {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .field > label,
  .inline.fields > label {
    font-size: 1.2rem;
    font-weight: 500;

    &:after {
      margin: -0.2em 0em 0em 0.2em;
      content: '*';
      color: #DB2828;
    }
  }

  .field > .hint {
    margin-bottom: 0.5rem;
  }
}
