@font-face {
    font-family: Brushup;
    src: url(asset-path('brushup.otf')) format("opentype");
}
@font-face {
    font-family: BrushupToo;
    src: url(asset-path('brushuptoo.otf')) format("opentype");
}
