// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

html, body {
  height: 100%;
  background: #fff;
  color: #666;
  line-height: 1.3;
}

#frontpage {
  .lead {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 25px;
  }

  /* Layout */
  section {
    width: 100%;
    /*min-height: 100%;*/
    position: relative;
  	padding-bottom: 6em;
  }
  .intro-flex {
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: space-around;
  }
  #frontpage-top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.6)), url('/assets/mallorca.jpg');
    height: 100%;
    margin-top: 76px;
    h1 {
      font-family: 'Brushup';
      color: white;
      font-size: 8.125rem;
      padding: 4rem 0;
    }

    h3 {
      color: white;
    }

    .intro-knowit-logo {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
    }
  }
  .divider-container {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    background-color: white;
  }
  .divider-container .green-divider {
    width: 20%;
    margin: 0 auto;
    border-bottom: 6px solid $knowit-primary-green-color-light;
  }
  #frontpage-info {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  #frontpage-events {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .intro-elements {
    img {
      margin-bottom: 1em;
      display: block;
    }
  }
  .intro .wrapper {
    text-align: center;
  }

  section {
    padding: 2em 10%;
    background: white;
  }

  .content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 55px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
  }

  .content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }

  .logo-divider::before {
    top: -40px;
    background: #ceefeb;
    box-shadow: -40px 40px 0 #85d6cb, 40px -40px 0 #85d6cb;
  }

  .logo-divider::before {
    left: 50%;
    width: 80px;
    height: 80px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
  }
}
@media (max-width: 760px) {
  #frontpage-top {
    height: 70%;
  }
  .intro-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

  }
  .intro-next-event {
  }
}
#top-menu.fixed + .grid {
  padding-top: 90px;
}

.intro-flex {
  .ui.card {
    box-shadow: 0 0 300px $knowit-primary-purple-color-lighter;
    width: 330px;
  }
}
