@import "variables";

@mixin knowit-green() {
  background-color: $knowit-primary-green-color-light;
  border: 1px solid $knowit-primary-green-color-light;
}

@mixin knowit-purple() {
  background-color: $knowit-primary-purple-color-light;
  border: 1px solid $knowit-primary-purple-color-light;
}


@mixin dark-knowit-green() {
  background-color: $knowit-primary-green-color;
  border: 1px solid $knowit-primary-green-color;
}

@mixin dark-knowit-purple() {
  background-color: $knowit-primary-purple-color;
  border: 1px solid $knowit-primary-purple-color;
}
