@import 'variables';

.ui:not(.label):not(.circular), input, select, textarea {
  border-radius: 0px !important;
}

input, select, textarea {
  border: 0px !important;
}

.ui.card > .image > img {
  border-radius: 0px !important;
}

.ui.segment {
  box-shadow: none !important;

}

.ui.primary.button {
  background: $knowit-primary-purple-color-light !important;
  &:hover {
    background: $knowit-primary-purple-color !important;
  }
}

.ui.secondary.button {
  background: $knowit-complementary-blue-color-light !important;
  &:hover {
    background: $knowit-complementary-blue-color !important;
  }
}

span.translation_missing {
  color: $knowit-complementary-red-color;
}

.ui.table td a {
  color: $knowit-primary-green-color;
  font-weight: 600;
}