@import "variables";

#signin-container {
  position: relative;
  top: 40%;

  h1 {
    font-family: 'Brushup';
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    line-height: 65px;
  }

  .segment {
    background: $knowit-primary-green-color-lightest;
  }
}
